<div class="container-fluid bg-dark fixed-top" id="header">
        <div class="row">
            <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand " href="/"><img class="img-fluid" src='/assets/images/weather-logo.png'/>My WeatherApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          
          <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" [(ngModel)]="getweather" type="search" placeholder="Enter Location" aria-label="Search" [ngModelOptions]="{standalone: true}">
            <button (click)="getWeather()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <div class="error" *ngIf="err.statusText">Location {{ err?.statusText }}</div>
         
        </div>
      </nav>
    </div>
    </div>
    </div>

<div class="container-fluid" id="body">
    <div class="row">
        <div class="col-12">
            <agm-map [longitude]="lng" [mapDraggable]="false" [scrollwheel]="false" [latitude]="lat" [zoom]="12" [mapTypeId]="'roadmap'">
                <agm-marker [longitude]="lng" [latitude]="lat">
                <agm-info-window isOpen="true" *ngIf="desc">
                        <h5>{{desc}}</h5>
                        <h5>Temp: {{temp}} Celcius</h5>
                      </agm-info-window>
                    </agm-marker>
            </agm-map>
        </div>
    </div>
</div>